#sticky-note {
  position: absolute;
  right: 15px;
  top: 45px;
  width: 250px;
  height: 250px;
  text-align: center;
}

.note-bar {
  width: 250px;
  height: 40px;
}

.note-bar h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: auto;
  padding-top: 10px;
}

.desktop .file-shortcut p {
  margin-bottom: 5px;
  margin-top: 5px;
}

.desktop #shortcuts {
  margin-left: 25px;
  margin-top: 25px;
  width: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.desktop a {
  text-decoration: none;
}

.shortcut-icon {
  height: 50px;
  width: 50px;
}