#sticky-note,
#navbar,
.lock-user-screen-listing p,
.file-shortcut,
.terminal-txt,
.internet-url,
.user-icon,
.exit-icon,
.page,
.tabs,
.files,
.github,
.email,
.email .unread {
  color: white;
}

.desktop .file-shortcut:hover {
  background-color: rgba(194, 194, 194, 0.322);
}

.email .email-show-info strong {
  color: rgb(109, 109, 109);
}

.email .read {
  color: rgb(109, 109, 109);
}

.email .email-idx-header {
  background-color: #161b31;
}

.email .email-show,
.email .single-email:hover {
  background-color: #303b6b;  
}

.email .email-sidebar {
  background-color: #161b31;
  border-right: 2px solid #0c0f1b;
}

.email .email-show-info {
  background-color: #161b31;
  border-top: 2px solid #0c0f1b;
  border-bottom: 2px solid #0c0f1b;
}

.github .repo-index {
  border-top: 3px solid #040011;
}

.github .single-repo {
  border-bottom: 2px solid #25003f;
  border-left: 2px solid #25003f;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;
}

.github .note {
  color: white;
}

.github p {
  color: rgb(112, 112, 112);
}

.github strong {
  color: rgb(131, 131, 131);
}

.tabs div {
  border-right: 2px solid white;
}

.file-entries ul:hover {
  background-color: #222636;
}

.internet .tabs div {
  border-right: 2px solid black;
}

.file-entries {
  background-color: #161925;
}

.file-view, 
.files .active-file {
  background-color: #292d42;  
}

.file-view iframe,
.file-view img {
  border-left: 2px solid rgb(11, 13, 26);
}

.exit-icon:hover {
  color: rgb(167, 167, 167);
}

.user-icon {
  background-color: rgba(255, 255, 255, 0.301);
}

.active-tab {
  background-color: #252526;
}

.internet .active-tab,
.internet-nav {
  background-color: rgb(51, 51, 51);
}

.internet .inactive-tab {
  background-color: #272727;
}

.internet .internet-url {
  background-color: rgb(70, 70, 70);
}

.note-bar {
  background-color: rgb(104, 0, 104);
}

#sticky-note {
  background-color: purple;
}

#navbar {
  background-color: #151724;
}

#sidebar {
  background-color: #14131F;
}

#lock-page {
  background-color: #4b267c;
}

#lock-page div {
  background-color: rgba(255, 255, 255, 0.363);
}

#lock-page div:hover {
  background-color: rgba(255, 255, 255, 0.425);
}

/* -- page background colors -- */

.code {
  background-color: #252526;    
}

.terminal {
  background-color: #000000;
}

.internet {
  background-color: #111414;
}

.email {
  background-color: #262f55;    
}    

.github {
  background-color: #040011;
}

.code .tabs, 
.code .exit-button {
  background-color: #3b3b3b;
}

.terminal .tabs {
  background: linear-gradient(to right, #00F9F6, #B42DAD);
}

.terminal .exit-button {
  background-color: #B42DAD;
}

.internet .tabs, 
.internet .exit-button {
  background-color: #1C1C1C;
} 

.github .github-nav, .github .exit-button {
  background-color: #25003f;
}

.files .file-header, .files .exit-button {
  background-color: #404666;
  border-bottom: 2px solid rgb(11, 13, 26);
}

.email .tabs, .email .exit-button {
  background-color: #0C0E14;
}

* {
  scrollbar-color: rgb(56, 56, 56) #1C1C1C;
}

*::-webkit-scrollbar-track {
  background: #1C1C1C;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(56, 56, 56);
  border: 3px solid #1C1C1C;
}

.github * {
  scrollbar-color: #040011 #25003f;
}

.github *::-webkit-scrollbar-track {
  background: #25003f;
}

.github *::-webkit-scrollbar-thumb {
  background-color: #040011;
  border: 3px solid #25003f;
}