.email {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 30px 50vh calc(50vh - 60px);
}

.email .email-show-info p,
.email .email-show-info strong {
    margin-top: 5px;
    margin-bottom: 5px;
}

.email .email-show-info div {
    display: grid;
    grid-template-columns: 60px auto;
}

.email .email-show-info strong {
    grid-column: 1 / 2;
    display: block;
    margin-left: auto;
}

.email .email-show-info p {
    grid-column: 2 / 3;
    margin-left: 20px;
    
}

.email .email-body-text {
    padding-left: 20px;
    height: calc(50vh - 160px);
    overflow-y: auto;
}

.email .email-body-text,
.email .email-body-text p {
    width: 100%;
}

.email .top-bar {
    grid-area: 1 / 1 / 2 / 3;
}

.email .tabs p {
    display: block;
    margin: auto;
}

.email .email-sidebar {
    grid-area: 2 / 1 / 4 / 2;
}

.email .email-index {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-rows: 30px calc(50vh - 30px);
}

.email .email-idx-header {
    grid-row: 1 / 2;
}

.email .email-list {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    height: calc(50vh - 30px);
    overflow-y: auto;
}

.email .single-email,
.email .email-idx-header {
    display: grid;
    grid-template-columns: calc((100vw - 605px)/2) calc((100vw - 605px)/2) 250px;
}

.email .single-email:hover {
    cursor: pointer;
}

.email .subject,
.email .author,
.email .date {
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 14px;
    overflow-wrap: break-word;
    overflow: hidden;
}

.email .email-show {
    grid-area: 3 / 2 / 4 / 3;
    display: grid;
    grid-template-rows: 105px calc(50vh - 165px);
}

.email .email-tree {
    padding: 20px;
}