.github-frame {
    display: grid;
    grid-template-columns: 300px auto;
    height: calc(100vh - 94px);
}

.github .note {
    margin-left: 10px;
    margin-right: 10px;
}

.github .top-bar {
    height: 64px;
}

.github-nav {
    width: calc(100vw - 75px);
}

.github-nav img {
    width: 32px;
    height: 32px;
    display: block;
    margin: auto;
    padding-top: 15px;
}

.github-profile {
    grid-column: 1 / 2;
    display: block;
    text-align: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.github-profile img {
    border-radius: 100px;
}

.repo-index {
    grid-column: 2 / 3;
}

.github .repo-index {
    overflow-y: scroll;
}

