.webpage-img {
  width: 782px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.webpage-embed embed {
  padding: 50px;
  width: 600px;
  height: 400px;
}

.webpage-embed {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.banner {
  margin-left: 50px;
  margin-top: 25px;
}

.internet {
  overflow-y: scroll;
  position: relative;
  top: 80px;
  height: calc(100vh - 100px);
}

.internet .inactive-tab,
.internet .active-tab {
  display: flex;
  flex-direction: row;
}

.internet .inactive-tab img,
.internet .active-tab img {
  position: relative;
  left: -6px;
  width: 24px;
  height: 20px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.internet .inactive-tab p,
.internet .active-tab p {
  margin: 0;
  margin-top: 5px;
}

.internet .tabs {
  width: calc(100vw - 78px);
}

.internet .exit-button {
  width: 23px;
  margin-right: 3px;
}

.internet .internet-nav {
  position: fixed;
  top: 30px;
}

.internet .tabs div {
  padding-left: 15px;
  padding-right: 70px;
  border-radius: 10px 10px 0 0;
}

.secure-url {
  float: left;
  margin-top: 7px;
  margin-left: 10px;
}

.internet-url {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 93vw;
  height: 30px;
  border-radius: 25px;
  text-align: left;
}

.internet-url p {
  padding-left: 30px;
  padding-top: 7px;
}

.internet-nav {
  padding-bottom: 12px;
}