body {
  background-image: url("../wallpaper.png");
  width: 100vw;
  height: 100vh;
  min-width: 900px;
  margin: 0;
  display: grid;
  grid-template-columns: 55px auto;
  grid-template-rows: 30px auto;
  font-family: ubuntuUI;
  font-size: 13px;
  overflow: hidden;
}

#root, #routes, #sidebar a {
  display: contents;
}

#navbar {
  grid-area: 1 / 1 / 1 / 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 6px;
}

.left {
  margin-left: 12px;
}

.middle {
  z-index: 2;
}

#sidebar {
  grid-area: 2 / 1 / 2 / 1;
  display: flex;
  flex-direction: column;
}

#sidebar a:hover, 
#sidebar Link:hover {
  cursor: pointer;
}

#sidebar img {
  margin: 8px;
  margin-top: 10px;
}

.page {
  grid-area: 2 / 2 / 2 / 2;
}

* {
  scrollbar-width: 20px;
}

*::-webkit-scrollbar {
  width: 20px;
}