.notes-frame {
  font-size: 16px;
  margin: 50px;
  margin-right: 0;
  margin-top: 0;
}

.notes .notes-document {
  padding: 30px;
  height: calc(100vh - 120px);
}

.notes-header {
  text-align: center;
}

.notes-paragraph {
  text-indent: 50px;
  line-height: 1.5;
}

.notes-pic {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}