.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

html,
body,
#root,
#routes {
  min-height: 100vh;
  min-width: 300px;
}

footer {
  background-color: #222222;
  color: #9D9D9D;
  padding: 25px;
  margin-top: 50px;
}

.link-left {
  color: blue;
  float: left;
  text-decoration: underline solid black;
}

.link-left:hover {
  color: blue;
  font-weight: bold;
}

.link-right {
  color: blue;
  float: right;
  text-decoration: underline solid blue;
}

.link-right:hover {
  color: blue;
  font-weight: bold;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

.normal-link {
  text-decoration: underline solid blue;
  color: blue;
}

.normal-link:hover {
  color: blue;
  font-weight: bold;
}

.list-title {
  font-weight: bold;
  text-decoration: underline solid black;
}

a {
  color: black;
}

a:hover {
  color: black;
}

.expand-element {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  margin: 20px;
}

.expand-element, .expand-tall-element, .expand-mega-element, .expand-document {
  overflow: hidden;
  position: relative;
  margin: 10px;
}

.expand-tall-element {
  padding-top: 80%;
}

.expand-mega-element {
  padding-top: 60%;
}

.expand-document {
  padding-top: 95%;
}

.expand-element iframe, .expand-element img, .expand-tall-element img, .expand-mega-element img, .expand-document iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: black;
}


.footer-link {
  color: #9D9D9D;
}

.footer-link:hover {
  color: white;
}

footer img {
  padding: 5px;
}