.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

html,
body,
#root,
#routes {
  min-height: 100vh;
  min-width: 300px;
}

body {
  background-image: url("darkbg.svg");
  color: white;
}

footer {
  background-color: #222222;
  color: #9D9D9D;
  padding: 25px;
  margin-top: 50px;
  border-top: 6px solid #9D9D9D;
}

.jumbotron {
  background-color: #222222c4;
  border-bottom: 6px solid #9D9D9D;
  border-top: 6px solid #9D9D9D;
}

.navlink {
  text-decoration: none;
}

.caret {
  margin-left: 5px;
}

.link-left {
  color: rgb(255, 123, 0);
  float: left;
  text-decoration: underline solid rgb(255, 123, 0);
}

.link-left:hover {
  color: rgb(255, 123, 0);
  font-weight: bold;
  text-decoration: underline solid rgb(255, 123, 0);
}

.link-right {
  color: rgb(255, 123, 0);
  float: right;
  text-decoration: underline solid rgb(255, 123, 0);
}

.link-right:hover {
  color: rgb(255, 123, 0);
  font-weight: bold;
  text-decoration: underline solid rgb(255, 123, 0);
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

.list-title {
  font-weight: bold;
  text-decoration: underline solid white;
}

.over {
  background-color: #00000067;
  border: 1px solid white;
}

.caption {
  padding: 5px;
  background-color: #000000;
  border: 1px dotted white;
}

.alert-info {
  background-color: rgb(255, 123, 0);
  color: white;
}

a {
  color: white;
  text-decoration: underline solid white;
}

a:hover {
  color: white;
  text-decoration: underline solid white;
  font-weight: bold;
}

.h3-link:hover {
  font-weight: bold;
}

.expand-element {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  margin: 20px;
}

.expand-element, .expand-tall-element, .expand-mega-element, .expand-document {
  overflow: hidden;
  position: relative;
  margin: 10px;
}

.expand-tall-element {
  padding-top: 80%;
}

.expand-mega-element {
  padding-top: 60%;
}

.expand-document {
  padding-top: 95%;
}

.expand-element iframe, .expand-element img, .expand-tall-element img, .expand-mega-element img, .expand-document iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: black;
}

.orange, #title {
  color: rgb(255, 123, 0);
}

.footer-link {
  color: rgb(255, 123, 0);
  text-decoration: underline solid rgb(255, 123, 0);
}

.footer-link:hover {
  color: rgb(255, 123, 0);
  text-decoration: underline solid rgb(255, 123, 0);
  font-weight: bold;
}

footer img {
  padding: 5px;
}