.fullscreen-toggle {
  display: none;
}

.fullscreen-container {
  display: contents;
}

.fullscreen-exit-btn g {
  fill: white;
  stroke: white;
}

ul.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.images>li {
  position: relative;
  padding-top: 50%;
}

.tall-fullscreen ul {
  padding-bottom: 50%;
}

ul.images>li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

ul.images>li img:hover {
  cursor: pointer;
}

@media (max-width: 567px) {
  ul.images {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

html,
body,
#root,
#routes {
  min-height: 100vh;
  min-width: 300px;
}

body {
  background-image: url("darkbg.svg");
  color: white;
}

footer {
  background-color: #222222;
  color: white;
  padding: 25px;
  margin-top: 50px;
  border-top: 6px solid gray;
}

.jumbotron {
  background-color: #222222c4;
  border-bottom: 6px solid gray;
  border-top: 6px solid gray;
}

.jumbotron h2 {
  color: rgb(255, 123, 0);
}

.navlink {
  text-decoration: none;
}

.caret {
  margin-left: 5px;
}

.banner {
  padding-bottom: 15px;
}

.link-left {
  color: rgb(255, 123, 0);
  float: left;
  text-decoration: underline solid rgb(255, 123, 0);
}

a:hover,
.navlink:hover,
.link-left:hover,
.link-right:hover,
.footer-link:hover,
.h3-link:hover {
  color: rgb(255, 123, 0);
  font-weight: bold;
  text-decoration: underline solid rgb(255, 123, 0);
}

.link-left:focus,
.link-right:focus,
.footer-link:focus {
  color: white;
  text-decoration: underline solid white;
}

.link-right {
  color: rgb(255, 123, 0);
  float: right;
  text-decoration: underline solid rgb(255, 123, 0);
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

.caption {
  padding: 5px;
}

a {
  color: white;
  text-decoration: underline solid white;
}

.h3-link img {
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.expand-element {
  padding-top: 56.25%;
}

.expand-element, 
.expand-mega-element, 
.expand-document {
  overflow: hidden;
  position: relative;
  margin: 10px;
}

.expand-mega-element {
  padding-top: 60%;
}

.expand-document {
  padding-top: 95%;
}

.expand-element iframe, 
.expand-element img, 
.expand-mega-element img, 
.expand-document iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: black;
}

.orange, #title {
  color: rgb(255, 123, 0);
}

#title:hover {
  text-decoration: none;
}

.list-title {
  color: rgb(255, 123, 0);
  font-weight: bold;
}

.list-title-button {
  color: white;
  background-color: black;
  margin-left: 25px;
  border: 1px solid rgb(255, 123, 0);
}

.list-title-button:hover {
  font-weight: bold;
}

.list-spoiler-box {
  display: flex;
  flex-direction: row;
}

.footer-link {
  color: rgb(255, 123, 0);
  text-decoration: underline solid rgb(255, 123, 0);
}

footer img {
  padding: 5px;
}

#document canvas {
  background-color: black;
}

.formula {
  width: 100%;
}

.solid-viewer {
  background-color: black;
}