// Grayscale colors
$white: #fff;
$black: #000;
$gray: #ccc;
$light-gray: #eee;
$dark-gray: #333;

// Primary colors
$red: #f00;
$green: #0f0;
$blue: #00f;

// Secondary colors
$yellow: #ff0;
$cyan: #0ff;
$magenta: #f0f;

// Tertiary colors
$orange: #f90;
$purple: #90f;
$teal: #0f9;

// Theme blues
$main-blue: #08273E;

// Theme colors
$font-color: $white;
$primary-color: $black;
$secondary-color: $gray;
$tertiary-color: $light-gray;